[save_variables]
filename: ~/printer_data/config/adc_button_vars.cfg

[adc_button buttons1]
pin: PC0
pullup: 1000
button_count: 4
button_1_macro: #Macro to call on press
button_2_macro: #Macro to call on press
button_3_macro: #Macro to call on press
button_4_macro: #Macro to call on press
#button_5_macro: 
#button_6_macro: 
#button_7_macro: 
#button_8_macro: 

#[adc_button buttons2]
#pin: PC1
#pullup: 1000
#button_count: 1
#button_1_macro: 
#button_2_macro: 
#button_3_macro: 
#button_4_macro: 
#button_5_macro: 
#button_6_macro: 
#button_7_macro: 
#button_8_macro: 

[gcode_macro CALIBRATE_BUTTONS]
description: Alias for selector button calibration wizard
gcode:
  CALIBRATE_ADC_BUTTONS
