[save_variables]
filename: ~/printer_data/config/adc_button_vars.cfg

[adc_button buttons1]
pin: Turtle_1:SW1
pullup: 10000
button_count: 4
button_1_macro: M118 "btn1"
button_2_macro: M118 "btn2"
button_3_macro: M118 "btn3"
button_4_macro: M118 "btn4"
button_1_long_macro: M118 "btn1 LONG"
button_2_long_macro: M118 "btn2 LONG"
button_3_long_macro: M118 "btn3 LONG"
button_4_long_macro: M118 "btn4 LONG"
long_press_duration: 0.8 # seconds; default is 0.6

#[AFC_button lane1]
#pin: Turtle_1:BUTTON
#analog_range: 1000,2000
#analog_pullup_resistor: 4700

#[AFC_button lane2]
#pin: Turtle_1:BUTTON
#analog_range: 2000, 5000
#analog_pullup_resistor: 4700

#[AFC_button lane2]
#pin: Turtle_1:BUTTON
#analog_range: 2000, 5000
#analog_pullup_resistor: 4700

#[AFC_button lane4]
#pin: Turtle_1:BUTTON
#analog_range: 18000, 4695299  # Big number is basically 3.3v
#analog_pullup_resistor: 4700



[gcode_macro CALIBRATE_BUTTONS]
description: Alias for selector button calibration wizard
gcode:
  CALIBRATE_ADC_BUTTONS
