[save_variables]
filename: ~/printer_data/config/adc_button_vars.cfg

[adc_button buttons1]
pin: Turtle_1:SW1
pullup: 1000
button_count: 4
button_1_macro: M118 "btn1"
button_2_macro: M118 "btn2"
button_3_macro: M118 "btn3"
button_4_macro: M118 "btn4"
button_1_long_macro: M118 "btn1 LONG"
button_2_long_macro: M118 "btn2 LONG"
button_3_long_macro: M118 "btn3 LONG"
button_4_long_macro: M118 "btn4 LONG"
long_press_duration: 0.8 # seconds; default is 0.6

#[adc_button buttons2]
#pin: PC1
#pullup: 1000
#button_count: 1
#button_1_macro: 
#button_2_macro: 
#button_3_macro: 
#button_4_macro: 
#button_5_macro: 
#button_6_macro: 
#button_7_macro: 
#button_8_macro: 

[gcode_macro CALIBRATE_BUTTONS]
description: Alias for selector button calibration wizard
gcode:
  CALIBRATE_ADC_BUTTONS
