#####################################################################
# 	Fan Control
#####################################################################
##############
# Part Fan - Toolhead
#############
[fan]
pin: EBBCan:gpio13
kick_start_time: 0.5
off_below: 0.10

##################
# Hotend fan - Toolhead
##################
[heater_fan hotend_fan]
pin: EBBCan:gpio14
heater: extruder
max_power: 1.0   ## new add
kick_start_time: 0.5 #new add
heater_temp: 55.0
#fan_speed: 1.0

##################
# Controller Fan - Skirt Fan3
##################
[controller_fan controller_fan]
pin: PE5
off_below: 0.1
heater: heater_bed, extruder
stepper: stepper_x, stepper_y, stepper_z
kick_start_time: 0.5
fan_speed: 0.5

##################
# Chamber Fan - Fan0
##################

#[temperature_fan chamber]
#pin: PE6
#max_power: 1.0
#shutdown_speed: 0.0
#kick_start_time: 5.0
#cycle_time:0.01
#off_below:0.1
#sensor_type: Generic 3950
#sensor_pin: PA1
#min_temp: 0
#max_temp: 70
#target_temp: 55.0
#control: watermark
#gcode_id: C

##################
# Exhaust Fan - Fan0
##################
[fan_generic exhaust_fan]
pin: PE6
shutdown_speed: 0.0
kick_start_time: 5.0

##################

# Nevermore Fan - Fan4
[fan_generic nevermore]
pin: PE0

###############################
# Not used below 
###############################

#[heater_fan fan4]
#pin: PE4
#tachometer_pin: PC13

#[heater_fan fan5]
#pin: PB8
#tachometer_pin: PC14

#[heater_fan fan6]
#pin: PB9
#tachometer_pin: PC15

######################################################
###  Fan control macros
######################################################

