#####################################################################
# 	Fan Control
#####################################################################
##############
# Part Fan - Toolhead
#############
[fan]
pin: EBBCan: PA1
kick_start_time: 0.5
off_below: 0.10

##################
# Hotend fan - Toolhead
##################
[heater_fan hotend_fan]
pin: EBBCan: PA0
heater: extruder
max_power: 1.0   ## new add
kick_start_time: 0.5 #new add
heater_temp: 55.0
tachometer_pin: EBBCan: PB9# Set to the pin you like to use. Make sure it has either a hardware or software pullup
tachometer_ppr: 2
tachometer_poll_interval: 0.0009
#fan_speed: 1.0

##################
# Controller Fan - Skirt Fan3
##################
[controller_fan controller_fan]
pin: PE5
off_below: 0.1
heater: heater_bed, extruder
stepper: stepper_x, stepper_y, stepper_z
kick_start_time: 0.5
fan_speed: 0.5

##################
# Exhaust Fan - Fan0
##################
[fan_generic exhaust_fan]
pin: PE6
shutdown_speed: 0.0
kick_start_time: 5.0

##################

# Nevermore Fan - Fan4
[fan_generic nevermore]
pin: PE0

#tachometer_pin: PC15

######################################################
###  Fan control macros
######################################################

