### Filament related macros

 [gcode_macro M600]
gcode:
    STATUS_BUSY
    PAUSE                ; Pause
#not used
#[gcode_macro LOAD_FILAMENT]
#gcode:
#    SAVE_GCODE_STATE NAME=load_state
#    G91
#    #SET_DISPLAY_TEXT MSG="Hotend: 240c"          # Displays info
#    #M109 S240                                    # Heats the nozzle to 200c
#    G92 E0
#    G1 Z10 F5000
#    G1 E60 F1000 # fast-load
#    G1 E30 F300 # slow-load
#    G1 E50 F150 # purge
#    G92 E0
#    #TURN_OFF_HEATERS
#    #SET_DISPLAY_TEXT MSG="Filament loaded & Ready!"
#    RESTORE_GCODE_STATE NAME=load_state

#[gcode_macro UNLOAD_FILAMENT]
#gcode:
#    SAVE_GCODE_STATE NAME=unload_state
#    G91
#    #SET_DISPLAY_TEXT MSG="Hotend: 240c"          # Displays info
#    #M109 S240                                    # Heats the nozzle to 150c
#    G92 E0
#    #G1 E20 F1000 # purge
#    G1 E-100 F1500 # fast-unload
#    G92 E0
#    #TURN_OFF_HEATERS
#    #SET_DISPLAY_TEXT MSG="Filament unloaded, please remove"
#    RESTORE_GCODE_STATE NAME=unload_state

#[gcode_macro NOZZLE_CLEAN]
#gcode:
#    G28 X Y
#    G90
#    M109 S200
#    M109 S0 
#    G1 X250 Y250 Z15 F5000
#    G1 X230 Y251 Z3 F8000
#    G1 X170 T251 Z2 F9000
#    G1 X230 T251 Z2 F9000
#    G1 Z3 F9000    
#    G1 X170 T251 Z2 F9000
#    G1 X230 T251 Z2 F9000
#    G1 Z3 F9000     
#    G1 X170 T251 Z2 F9000
#    G1 X230 T251 Z2 F9000
#    G1 Z3 F9000     
#    G1 X170 T251 Z2 F3000
#    G1 X230 T251 Z2 F3000
#final wipe
#    G1 X190 T251 Z2 F10000
#    G1 X210 T251 Z2 F10000
#    G1 X190 T251 Z2 F10000
#    G1 X210 T251 Z2 F10000
#    G1 X190 T251 Z2 F10000
#    G1 X210 T251 Z2 F10000
#    G1 X190 T251 Z2 F10000
#    G1 X210 T251 Z2 F10000
#    G1 X190 T251 Z2 F10000
#    G1 X210 T251 Z2 F10000    
#    G1 X210 T251 Z15 F5000
    


    