[virtual_sdcard]
path: /home/Edva/printer_data/gcodes
on_error_gcode: CANCEL_PRINT

#########################################
##   T  U  R  T  L  E      B  O  X ######
#########################################
[include AFC/*.cfg]
[include BTKS_Macros.cfg]
#########################################

[include stealthburner_leds.cfg]
[include mainsail.cfg]
[include macros.cfg]
[include fans.cfg]
[include macros_filament.cfg]
[include KAMP_Settings.cfg]
[include TurdHerder/turdherder.cfg]
[exclude_object]
[respond]                            # Allow the console/screen status messages //EM
[firmware_retraction] ### Specific to KAMP  //EM
[gcode_arcs]                         # Enable arcs support (suggested for Orca Slicer)  //EM

######################################
#   MCU section
######################################

[mcu]
canbus_uuid: 13f5d714d97d

[mcu EBBCan] #SB2209
canbus_uuid: 4a4fc4e48dce

#####################################
#  Input shaping
#####################################

[adxl345]
cs_pin: EBBCan:gpio1
spi_software_sclk_pin: EBBCan:gpio2
spi_software_mosi_pin: EBBCan:gpio0
spi_software_miso_pin: EBBCan:gpio3
axes_map: z,-y,x

[resonance_tester]
probe_points: 125, 125, 20
accel_chip: adxl345
accel_per_hz: 100
sweeping_accel: 400
sweeping_period: 0

[input_shaper]
shaper_freq_x: 54.4
shaper_type_x: mzv
shaper_freq_y: 37.4
shaper_type_y: mzv
damping_ratio_x: 0.075
damping_ratio_y: 0.146

####################################
#   Printer basics
###################################

[printer]
kinematics: corexy
max_velocity: 500
max_accel: 4100 #4800			
max_z_velocity: 15
max_z_accel: 350
minimum_cruise_ratio: 0
square_corner_velocity: 5

###################################
#   Custom temperature sensors
###################################

[temperature_sensor Toolhead]
sensor_type: Generic 3950
sensor_pin: EBBCan:gpio28
max_temp: 95

[temperature_sensor chamber]
sensor_type: Generic 3950
sensor_pin: PA1
max_temp: 95

[temperature_sensor CB1]
sensor_type: temperature_host
max_temp: 95

[temperature_sensor M8P]
sensor_type: temperature_mcu
max_temp: 95

#####################################################################
# 	X/Y Stepper Settings
#####################################################################

## X Stepper on Motor1(B Motor)
[stepper_x]
step_pin: PE2
dir_pin: PB4
enable_pin: !PC11
microsteps: 64 #buvo 16
rotation_distance: 40
full_steps_per_rotation:200
endstop_pin: ^EBBCan:gpio24
position_min: -3
position_endstop: 250
position_max: 250
homing_speed: 100
homing_retract_dist: 5
homing_positive_dir: true

[tmc2209 stepper_x]
uart_pin: PC10
interpolate: True
run_current: 0.98 #was 0.8
hold_current: 0.6 ## new
sense_resistor: 0.110
stealthchop_threshold: 0

## Y Stepper on Motor2 (A Motor)
[stepper_y]
step_pin: PF12
dir_pin: PF11
enable_pin: !PB3
microsteps: 64 ## buvo 16
rotation_distance: 40
full_steps_per_rotation:200
endstop_pin: ^PF4
position_min: 0
position_endstop: 250
position_max: 252
homing_speed: 100
homing_retract_dist: 5
homing_positive_dir: true

[tmc2209 stepper_y]
uart_pin: PF13
interpolate: True
run_current: 0.98 #was 0.8
hold_current: 0.6 ## new
sense_resistor: 0.110
stealthchop_threshold: 0

#####################################################################
# 	Z Stepper Settings
#####################################################################

## Z0 Stepper - Front Left on MOTOR3_A
[stepper_z]
step_pin: PD7
dir_pin: !PD6
enable_pin: !PF10
rotation_distance:4
microsteps: 32
endstop_pin: probe:z_virtual_endstop
position_max: 250
position_min: -2.5
homing_speed: 10
second_homing_speed: 3
homing_retract_dist: 3

[tmc2209 stepper_z]
uart_pin: PF9
interpolate: true
run_current: 0.6 # //EM was 0.65
hold_current: 0.4 ## new
sense_resistor: 0.110
stealthchop_threshold: 0 # was 1

##	Z1 Stepper - Rear  on Motor5
[stepper_z1]
step_pin: PC9
dir_pin: !PC8
enable_pin: !PD1
rotation_distance:4
microsteps: 32

[tmc2209 stepper_z1]
uart_pin: PD0
interpolate: true
run_current: 0.6 # //EM was 0.65
hold_current: 0.4 ## new
sense_resistor: 0.110
stealthchop_threshold: 0 # was 1

##	Z2 Stepper - Front Right on Motor6
[stepper_z2]
step_pin: PA10
dir_pin: !PA14
enable_pin: !PA15
rotation_distance:4
microsteps: 32

[tmc2209 stepper_z2]
uart_pin: PF8
interpolate: true
run_current: 0.6 # //EM was 0.65
hold_current: 0.4 ## new
sense_resistor: 0.110
stealthchop_threshold: 0 # was 1

#####################################################################
# 	Extruder
#####################################################################
[extruder]
step_pin: EBBCan:gpio18
dir_pin: EBBCan:gpio19
enable_pin: !EBBCan:gpio17

############# CW2 Section Start ##############
#rotation_distance: 21.870 #22.5463  #Bondtech 5mm Drive Gears
#gear_ratio: 50:10               #BMG Gear Ratio
#microsteps: 16
#full_steps_per_rotation: 200  # <------
############# CW2 Section End ##############

############# Galileo 2 Start ##############
rotation_distance: 47.088
gear_ratio: 9:1
microsteps: 16
full_steps_per_rotation: 200  # <------
############# Galileo 2 End #############

# Nozzle & filament
nozzle_diameter: 0.400
filament_diameter: 1.75
max_extrude_cross_section: 5  ### Specific to KAMP 
min_temp: 0
max_temp: 300
min_extrude_temp: 170
max_extrude_only_distance: 1200

# Heater & heater temp sensor
heater_pin: EBBCan:gpio7
#max_power: 0.5    # <- for Bambu hotned

## Temp sensor
#### PT1000 section #### - D R A G O N    H O T E N D
sensor_type: MAX31865
sensor_pin: EBBCan:gpio9
spi_software_sclk_pin: EBBCan:gpio10
spi_software_mosi_pin: EBBCan:gpio8
spi_software_miso_pin: EBBCan:gpio11
rtd_nominal_r: 1000
rtd_reference_r: 4300
rtd_num_of_wires: 2

#### Generic 3950 sensor #####  -    B A M B U    H O T E N D
#sensor_pin: EBBCan:gpio27
#sensor_type: Generic 3950

#control = pid
#pid_kp = 21.527
#pid_ki = 1.063
#pid_kd = 108.982

##	E0 on Motor7
[tmc2209 extruder]
uart_pin: EBBCan:gpio20
run_current: 0.5 #was 0.6
sense_resistor: 0.110
stealthchop_threshold: 0

#[filament_switch_sensor material_0]
#switch_pin: PC1

#[filament_switch_sensor material_1]
#switch_pin: PC2

#####################################################################
# 	Bed Heater
#####################################################################

[heater_bed]
##	SSR Pin - HE1
heater_pin: PB5 
sensor_type: Generic 3950
sensor_pin: PA0
max_power: 0.8
min_temp: 0
max_temp: 120 # //EM
#pwm_cycle_time: 0.0166 #eliminates light flicker in your house
#control: pid
#pid_kp: 58.437
#pid_ki: 2.347
#pid_kd: 363.769

#####################################################################
# 	Probe
#####################################################################

[probe]
pin: ^EBBCan:gpio22
x_offset: 0
y_offset: 0
speed: 10.0
samples: 1
samples_result: median
sample_retract_dist: 3.0
samples_tolerance: 0.006
samples_tolerance_retries: 3

activate_gcode:
    {% set PROBE_TEMP = 150 %}
    {% set MAX_TEMP = PROBE_TEMP + 5 %}
    {% set ACTUAL_TEMP = printer.extruder.temperature %}
    {% set TARGET_TEMP = printer.extruder.target %}

    {% if TARGET_TEMP > PROBE_TEMP %}
        { action_respond_info('Extruder temperature target of %.1fC is too high, lowering to %.1fC' % (TARGET_TEMP, PROBE_TEMP)) }
        M109 S{ PROBE_TEMP }
    {% else %}
        # Temperature target is already low enough, but nozzle may still be too hot.
        {% if ACTUAL_TEMP > MAX_TEMP %}
            { action_respond_info('Extruder temperature %.1fC is still too high, waiting until below %.1fC' % (ACTUAL_TEMP, MAX_TEMP)) }
            TEMPERATURE_WAIT SENSOR=extruder MAXIMUM={ MAX_TEMP }
        {% endif %}
    {% endif %}


########################################
# Filament runout switch sensor
########################################
#[filament_switch_sensor toolhead_runout]
#pause_on_runout: True
#runout_gcode:
#    SAVE_GCODE_STATE NAME=runout_state
#    G90
#    G1 X250 Y250
#    G91
#    G92 E0
#    G1 E-60 F300
#    RESTORE_GCODE_STATE NAME=runout_state
   
#insert_gcode:  
#   LOAD_FILAMENT

#pause_delay: 0.5
#switch_pin: EBBCan:gpio6

#####################################################################
# 	BED mesh
#####################################################################
[bed_mesh]
speed: 300
horizontal_move_z: 8
mesh_min: 30, 30  #Probe location
mesh_max: 220, 220 #Probe location
fade_start: 0.6 # //EM
fade_end: 10.0 # //EM
probe_count: 6,6
algorithm: bicubic
mesh_pps: 2,2                 ; Set to default value, specified so ADAPTIVE_BED_MESH will work //EM
#zero_reference_position: 125, 125

#####################################################################
# 	LED Control
#####################################################################

[output_pin caselight]
# Chamber Lighting - HE0 Connector (Optional)
pin: PE3
pwm:true
shutdown_value: 0
value:1
cycle_time: 0.01

### driven by stealhburner leds.cfg 
[neopixel sb_leds]
pin: EBBCan:gpio16
chain_count: 3
color_order: GRBW
initial_RED: 1
initial_GREEN: 1
initial_BLUE: 1

#####################################################################
# 	Homing and Gantry Adjustment Routines
#####################################################################

#[idle_timeout]
#timeout: 1800

#[safe_z_home]
##	XY Location of the Z Endstop Switch
##	Update -10,-10 to the XY coordinates of your endstop pin 
##	(such as 157,305) after going through Z Endstop Pin
##	Location Definition step.
#home_xy_position:125,125
#speed:100
#z_hop:10

[z_tilt]
z_positions:
    -50, 18
    125, 298
    300, 18
points:
    30, 5
    125, 195
    220, 5
speed: 400
horizontal_move_z: 10
retries: 5
retry_tolerance: 0.0075

#########################
#####################################################################
# 	Turd Herder section
#####################################################################

[force_move]
# Enable commands that force potentially unsafe movement
enable_force_move: True

[homing_override]
gcode:
#   A list of G-Code commands to execute in place of G28 commands
#   found in the normal g-code input. See docs/Command_Templates.md
#   for G-Code format. If a G28 is contained in this list of commands
#   then it will invoke the normal homing procedure for the printer.
#   The commands listed here must home all axes. This parameter must
#   be provided.

#############################################################################
# Set these to the XY coordinates you would like the printer to home Z with #
#############################################################################
  {% set home_pos_x = 125|int %}
  {% set home_pos_y = 125|int %}

  {% if "xy" not in printer.toolhead.homed_axes %}                    # Check to see if X and Y have not been homed yet 
    G90                                                               # Use Absolute Coordinates
    SET_KINEMATIC_POSITION Z=0                                        # -=*DEFINE*=- the current Z position as 0
    G0 Z10                                                            # Raise Z by 10mm from the current position **POTENTIALLY DANGEROUS**
    G28 X Y                                                           # Home X and Y axes
  {% endif %}
  
  {% set sled_state = printer["filament_switch_sensor turdherd"] %}   # Query the state of the sled sensor
  {% if not sled_state.filament_detected %}                           # Check if sled sensor is not triggered
    RESPOND MSG="TURDHERDER is EXTENDED.  Retracting for Safe Home."
    SET_SERVO SERVO=TURDHERDER ANGLE=90                                # Retract Sled
    # ADD DUMMY CHECKING HERE
  {% endif %}
  
  G0 X{home_pos_x} Y{home_pos_y} F18000                               # Move to Z home pos    
  G28 Z                                                               # Home Z
  G0 Z10                                                              # Raise Z to 10  
    
#   The axes to override. For example, if this is set to "z" then the
#   override script will only be run when the z axis is homed (eg, via
#   a "G28" or "G28 Z0" command). Note, the override script should
#   still home all axes. 
axes: z

#####################################################################
# 	KLIPPAIN Shake&Tune section
#####################################################################

[shaketune]
# result_folder: ~/printer_data/config/ShakeTune_results
#    Path where the processed results will be stored. If the folder doesn't exist,
#    it will be automatically created. You can change this if you'd like to store 
#    results in a different location.
# number_of_results_to_keep: 10
#    This setting defines how many results you want to keep in the result folder.
#    Once the specified number is exceeded, older results will be automatically deleted
#    to free up space on the SD card and avoid cluttering the results folder.
# keep_raw_data: False
#    If set to True, Shake&Tune will store both the processed graphs and the raw accelerometer
#    .stdata files in the results folder. This can be useful for debugging or archiving purposes.
#    Please always attach them when reporting any issues on GitHub or Discord.
# show_macros_in_webui: True
#    Mainsail and Fluidd doesn't create buttons for system commands (macros that are not part
#    of the printer.cfg file). This option allow Shake&Tune to inject them into the webui at runtime.
#    If set to False, the macros will be hidden but still accessible from the console by typing
#    their names manually, which can be useful if you prefer to encapsulate them into your own macros.
# timeout: 600
#    This defines the maximum processing time (in seconds) to allows to Shake&Tune for generating 
#    graphs from a .stdata file. 10 minutes should be more than enough in most cases, but if you have
#    slower hardware (e.g., older SD cards or low-performance devices), increase it to prevent timeouts.
# measurements_chunk_size: 2
#    Each Shake&Tune command uses the accelerometer to take multiple measurements. By default,
#    Shake&Tune will write a chunk of data to disk every two measurements, and at the end of the
#    command will merge these chunks into the final .stdata file for processing. "2" is a very
#    conservative setting to avoid Klipper Timer Too Close errors on lower end devices with little
#    RAM, and should work for everyone. However, if you are using a powerful computer, you may
#    wish to increase this value to keep more measurements in memory (e.g., 15-20) before writing
#    the chunk and avoid stressing the filesystem too much.
# max_freq: 200
#    This setting defines the maximum frequency at which the calculation of the power spectral density
#    is cutoff. The default value should be fine for most machines and accelerometer combinations and
#    avoid touching it unless you know what you're doing.
# dpi: 300
#    Controls the resolution of the generated graphs. The default value of 300 dpi was optimized
#    and strikes a balance between performance and readability, ensuring that graphs are clear
#    without using too much RAM to generate them. Usually, you shouldn't need to change this value.



#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 51.251
#*# pid_ki = 2.458
#*# pid_kd = 267.146
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 19.020
#*# pid_ki = 0.975
#*# pid_kd = 92.719
#*#
#*# [probe]
#*# z_offset = -1.590
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  0.018125, 0.013125, -0.005000, 0.006250, 0.030625
#*# 	  0.037500, 0.023750, 0.011250, 0.010000, 0.036250
#*# 	  0.040625, 0.023125, -0.008125, -0.000625, 0.008750
#*# 	  0.040625, 0.018750, -0.003125, -0.010625, -0.001875
#*# 	  0.026250, -0.003125, -0.015000, -0.031875, -0.028750
#*# 	  0.000625, -0.013125, -0.033750, -0.033125, -0.060000
#*# x_count = 5
#*# y_count = 6
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = lagrange
#*# tension = 0.2
#*# min_x = 81.30799999999999
#*# max_x = 204.428
#*# min_y = 30.0
#*# max_y = 220.0
